In [1]:
import pandas as pd

# Methods of Creating a Series

1. Creating series from list

In [2]:
list_1 = [1, 2, -3, 4.5, 'indian']
print(list_1)

[1, 2, -3, 4.5, 'indian']

In [3]:
series1 = pd.Series(list_1)
print(series1)

0         1
1         2
2        -3
3       4.5
4    indian
dtype: object

In [4]:
type(series1)

pandas.core.series.Series

2. Creating Empty Series

In [5]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: float64)

<ipython-input-5-4d32fcf5dfe7>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([])

3. Creating Series using a different method
   List inside the series

In [6]:
series2 = pd.Series([1,2,3,4,5])
print(series2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])
print(series2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

Changing data type of series (Convert int into a float)

In [8]:
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'], dtype = float)
print(series2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

4. Creating series from scalar values

In [9]:
s3_scalar = pd.Series(2)
print(s3_scalar)

0    2
dtype: int64

In [10]:
s3_scalar = pd.Series(2, index = [1,2,3,4,5])
print(s3_scalar)

1    2
2    2
3    2
4    2
5    2
dtype: int64

5. Creating series from python dictionary

In [11]:
s4_dict = pd.Series({'a':1, 'b':2, 'c':3})
print(s4_dict)

a    1
b    2
c    3
dtype: int64

# Accessing element from series

In [12]:
print(series2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

We can access any value or data from series by putting index value

In [13]:
series2[3]

4.0

In [14]:
series2[4]

5.0

Slicing series

In [15]:
series2[1:4]

b    2.0
c    3.0
d    4.0
dtype: float64

Adding two series

In [17]:
s5 = pd.Series([1,2,3,4,5])
s6 = pd.Series([1,2,3,4,5])
 
a = s5 + s6
print(a)

0     2
1     4
2     6
3     8
4    10
dtype: int64

we can also add series using add method

In [18]:
s5.add(s6)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [19]:
#min() operator gives minimum value of particular series
min(a)

2

In [20]:
#max() operator gives minimum value of particular series
max(a)

10

Conditional operator

In [21]:
a[a < 8]

0    2
1    4
2    6
dtype: int64

Using drop() function we can eliminate any index value

In [22]:
a.drop(4)

0    2
1    4
2    6
3    8
dtype: int64

In [23]:
s7 = pd.Series([1,2,3])
print(s7)

0    1
1    2
2    3
dtype: int64